{% include 'header.html' %}
<style>
input:focus {
  border: 2px solid #00AEEF;
}
input {
    padding: 0.5em;
}
</style>
<div class="small_logo">
    <img src="{{ url_for('static',filename='img/maxlew_logo.svg') }}" alt="logo">
</div>
<div class="nes-container is-rounded" style="width: 50%; margin: 0 auto;margin-top: 10%">
    <form method="POST" action="{{ url_for('adminconfig') }}">
        <h4>Choose address to remove:</h4>
        <ol>
            {% for item in data %}
                <!-- <input type="number" id="ip_{{ loop.index }}" name="ip_{{ loop.index }}" value="{{ item }}" disabled><br> -->
                <li>{{ item }}</li>



            {% endfor %}
        </ol>
        <input type="submit" name="done" hidden>
    </form>
</div>
<script>
    document.addEventListener("keydown", function(event) {
        let key = event.key;

        switch(key) {
            case "1":
            case "2":
            case "3":
            case "4":
            case "5":
            case "6":
            case "7":
            case "8":
            case "9":
                let lis = document.getElementsByTagName("li");
                if (parseInt(key) <= lis.length) {
                    el = document.getElementsByClassName("nes-container")[0];
                    el.innerHTML += "<h3>Are you sure? Press Enter to continue...</h3>";
                    document.addEventListener("keydown", function(event) {
                        let key2 = event.key;
                        switch (key2) {
                            case "Enter":
                                window.location.replace(`/admin-remove/${key}`);
                                break;
                            case "-":
                                window.location.replace("/admin/menu");
                                break;
                            default:
                                break;
                        }
                    })
                }
                break;
            case "-":
                window.location.replace("/admin/menu");
                break;

        }
    })
</script>

{% include 'footer.html' %}
