{% include 'header.html' %}
<style>
    .dual {
        color: cyan;

    }

    .left:after {
        content: "{{ data[0].get_name() }} (delay: {{ delayl }}s)";
    }
    .right:after {
        content: "{{ data[1].get_name() }} (delay: {{ delayr }}s)";
    }
</style>
<div class="container">
    <div class="dual left" style="background-image:url({{ url_for('delaystream', delay=delayl, gen=1) }});"></div>
    <div class="dual right" style="background-image:url({{ url_for('delaystream', delay=delayr, gen=2) }});"></div>
</div>

<script src="{{ url_for('static',filename='js/menu.js') }}"></script>

{% include 'footer.html' %}
