{% include 'header.html' %}

<style>
.fullscreen:after {
    color: #00AEEF;
    content: "{{ data.get_name() }} (LIVE)";
}
</style>
<div class="container">
    <div class="fullscreen" style="background-image:url({{ data.get_url() }});"></div>

</div>

<!-- <script src="{{ url_for('static',filename='js/menu.js') }}"></script> -->
<script>
    document.addEventListener("keydown", function(event) {
        let key = event.key;
        console.log(event);
        switch(key) {
            case "/":
                window.location.replace("/slowmotion");
                break;
            case "+":
                window.location.replace("/0");
                break;
            case "m":
                window.location.replace("/admin/menu");
                break;
        }
    })
</script>
